@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  min-width: 1280px;
  background-color: #f8fafc;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}
